@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Edu+QLD+Hand:wght@400..700&family=Emblema+One&family=Farsan&family=Frank+Ruhl+Libre:wght@300..900&family=Iansui&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Keyboard&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+AU+SA:wght@100..400&family=Protest+Guerrilla&family=Saira:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&family=Science+Gothic:wght@100..900&family=Shadows+Into+Light&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import "tailwindcss";

body{
    font-family: "Iansui";
    scroll-behavior: smooth;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}